---
layout: page
nav: home
title: Quantitative ecology
---

<div class="row">

<div class="left large"> <p class="lead"><b>I study how environmental variation in space and time is buffered or amplified across scales to generate emergent properties of complex ecosystems.</b>
I am particularly interested in forecasting population responses to climate change, species coexistence, and the stability of ecosystem functioning at multiple spatial scales.
A key approach in all my work is fusing models with data using contemporary statistical approaches, which allows me to gain understanding of the processes that underly observable patterns.

</div>

</div>

<div class="row">

<div class="left medium">
  <h2>News</h2>
  {% for post in site.posts %}
    {% if post.layout == "news" %}
        <span style="display: none">{% increment displayed %}</span>
        {% if displayed <= 5 %}
            <p>
                <a href="{{ post.url }}">{{ post.title }}</a><br />
                <span class="muted text">{{ post.date | date: '%B %d, %Y' }}</span>
            </p>
        {% endif %}
    {% endif %}
  {% endfor %}
</div>

<div class="right medium">
 <h2>Links</h2>
 <a href="https://scholar.google.com/citations?user=QGPaeccAAAAJ&hl=en&oi=ao" title="Andrew on Google Scholar"><i class="fa fa-fw fa-mortar-board"></i></a> <a href="https://scholar.google.com/citations?user=QGPaeccAAAAJ&hl=en&oi=ao">Google Scholar</a> <br>
 <a href="https://github.com/atredennick/" title="Andrew on GitHub"><i class="fa fa-fw fa-github"></i></a> <a href="https://github.com/atredennick">Github</a> <br>
 <a href="mailto:atredenn@gmail.com" title="Email Andrew"><i class="fa fa-fw fa-envelope"></i></a> <a href="mailto:atredenn@gmail.com">Email</a> <br>
 <a href="https://twitter.com/atredennick/" title="Andrew on Twitter"><i class="fa fa-fw fa-twitter"></i></a> <a href="https://twitter.com/atredennick?lang=en">Twitter</a> <br>
 <a href="/cv.pdf" title="Andrew's CV"><i class="fa fa-fw fa-user"></i></a> <a href="/cv.pdf">CV</a> <br>

  <!-- {% for post in site.posts %}
    {% if post.layout == "post" %}
        <span style="display: none">{% increment displayed_bl %}</span>
        {% if displayed_bl <= 5 %}
            <p>
                <a href="{{ post.url }}">{{ post.title }}</a><br />
                <span class="muted text">{{ post.date | date: '%B %d, %Y' }}</span>
            </p>
        {% endif %}
    {% endif %}
  {% endfor %} -->
</div>

</div>

<div class="row">

<div class="right medium"> <p class="foot">Like this website? Design by Tim Poisot (<a href="https://github.com/PoisotLab/poisotlab.github.io">Github repo</a>). </div>

</div>
