<div class="publication" id="{{p.id}}">

<!--<span class="entryIndex">{{forloop.rindex}}</span>-->
<div class="infos">

<!-- Title -->
<div class="title">{{p.title}}</div>


<!-- List of authors -->
{% if p.author %}
<div class="authors">
    {% for a in p.author %}{% if forloop.first %}{%else%}{% if forloop.last %}, and {%else%}, {% endif %}{%endif%}<span class="name{% if a.family == 'Tredennick' %} pi{% endif%}">{%if a.family %}{{a.family | capitalize}}{% endif %}</span>{% endfor %}
</div>
{% endif %}

<!-- Journal name -->
{% if p.container-title %}<span class="authors"><i>{{ p.container-title | italicize }},</i></span>{% endif %}

<!-- Date of publication -->
{% if p.issued %}<span class="entryDate">{{ p.issued.date-parts[0][0] | inspect }}</span>{% endif %}

</div>

    <div class="metadata">
        <ul>
            {% if site.featured_papers contains p.id %}
            <li class="featured">
                <i class="fa-fw fa fa-star" aria-hidden="true"></i>
            </li>
            {% endif %}
            {% if p.DOI %}
            <li class="link">
                <a href="http://dx.doi.org/{{ p.DOI }}" title="Full text at {{ p.container-title}}">
                    <i class="fa-fw fa fa-external-link-square" aria-hidden="true"></i>
                </a>
            </li>
            {% else %}
            <li class="link">
                <a href="{{ p.URL }}" title="Full text at {{ p.container-title}}">
                    <i class="fa-fw fa fa-link" aria-hidden="true"></i>
                </a>
            </li>
            {% endif %}
            {% for m in site.data.metadata %}
             {% if m.id == p.id %}
                {% if m.github %}
                    <li class="link">
                        <a href="{{ m.github }}" title="Associated GitHub repository">
                            <i class="fa-fw fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
                {% if m.code %}
                    <li class="link">
                        <a href="{{ m.code }}" title="Associated code">
                            <i class="fa-fw fa fa-code" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
                {% if m.data %}
                    <li class="link">
                        <a href="{{ m.data }}" title="Associated data">
                            <i class="fa-fw fa fa-table" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
             {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>
