<div id="footer">

<span class="snailmail">
Utah State University, <a href="http://qcnr.usu.edu/wild/">Department of Wildland Resources</a><br />
5230 Old Main Hill, NR 206, Logan, Utah 84322
</span>

<ul class="fa-ul">
  <li>
    <a href="https://github.com/atredennick/" title="Andrew on GitHub"><i class="fa fa-fw fa-github"></i></a><br />
  </li>
  <li>
    <a href="https://twitter.com/atredennick/" title="Andrew on Twitter"><i class="fa fa-fw fa-twitter"></i></a><br />
  </li>
  <li>
    <a href="mailto:atredenn@gmail.com" title="Email (Andrew)"><i class="fa fa-fw fa-envelope"></i></a>
  </li>
</ul>

</div>
