<div id="footer">

<span class="snailmail">
University of Georgia <br /> <a href="http://www.ecology.uga.edu/">Odum School of Ecology</a> & <a href="http://ceid.uga.edu/">Center for the Ecology of Infectious Diseases</a><br />
140 East Green Street, Athens, Georgia 30602
</span>

<ul class="fa-ul">
  <li>
    <a href="https://github.com/atredennick/" title="Andrew on GitHub"><i class="fa fa-fw fa-github"></i></a><br />
  </li>
  <li>
    <a href="https://twitter.com/atredennick/" title="Andrew on Twitter"><i class="fa fa-fw fa-twitter"></i></a><br />
  </li>
  <li>
    <a href="mailto:atredenn@gmail.com" title="Email (Andrew)"><i class="fa fa-fw fa-envelope"></i></a>
  </li>
</ul>

</div>
