<div class="publication" id="{{p.id}}">

<!--<span class="entryIndex">{{forloop.rindex}}</span>-->
<div class="infos">

<!-- Title -->
<div class="title">{{p.name}}</div>


<!-- List of authors -->
<div class="authors">
    {{ p.description }}
</div>

{% if p.lang == "julia" %}Julia package{% endif %}
{% if p.lang == "r" %}R package{% endif %}
{% if p.lang == "website" %}Online resource{% endif %}

</div>

    <div class="metadata">
        <ul>
            {% if p.github %}
                <li class="link">
                    <a href="{{ p.github }}" title="Associated GitHub repository">
                        <i class="fa-fw fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            {% if p.doc %}
                <li class="link">
                    <a href="{{ p.doc }}" title="Documentation">
                        <i class="fa-fw fa fa-book" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            {% if p.doi %}
            <li class="link">
                <a href="http://dx.doi.org/{{ p.doi }}" title="Cite with DOI">
                    <i class="fa-fw fa fa-external-link-square" aria-hidden="true"></i>
                </a>
            </li>
            {% endif %}
            {% if p.url %}
            <li class="link">
                <a href="{{ p.url }}" title="{{ p.name }}">
                    <i class="fa-fw fa fa-external-link-square" aria-hidden="true"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

</div>
