@import url(http://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic);

$body: "PT Serif", serif;
$titles: "PT Serif", sans-serif;
$code: "PT Mono", monospace;
$display: "PT Sans", sans-serif;

body {
    font-family: $display;
}

h1, h2, h3, h4, h5 {
    font-family: $display;
    font-size: 110%;
    color: #555;
}

pre, code {
    font-family: $code;
}

.container {
    &#content {
        p, li {
            color: #444;
        }
    }
}
